<!DOCTYPE html>

<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="header :: header" th:with="title='TransliteratedStrings - create'"></head>


<body>

<nav th:replace="navigation :: navigation(URL_TRANSLITERATEDSTRINGS)"></nav>

<div class="ui segment">

    <form class="ui form" method="POST" th:attr="action=@{/transliteratedStrings/create/}">

        <h2 class="ui dividing header" th:text="#{transliteratedStrings.createNewTransliteratedString}"></h2>


        <div class="ui form">
            <div class="fields">
                <div class="field">
                    <label>Text:</label>
                    <input type="text" name="text"/>
                </div>
                <div class="field">
                    <label th:text="#{transliteratedStrings.language} + ':'"></label>
                    <select name="language">
                        <option>ENGLISH</option>
                        <option>GERMAN</option>
                        <option>ARABIC</option>
                        <option>BENGALI</option>
                        <option>CANTONESE</option>
                        <option>CHINESE</option>
                        <option>DUTCH</option>
                        <option>FRENCH</option>
                        <option>GREEK</option>
                        <option>HINDI</option>
                        <option>ITALIAN</option>
                        <option>JAPANESE</option>
                        <option>KOREAN</option>
                        <option>MANDARIN</option>
                        <option>PERSIAN</option>
                        <option>POLISH</option>
                        <option>PORTUGUESE</option>
                        <option>PUNJABI</option>
                        <option>RUSSIAN</option>
                        <option>SPANISH</option>
                        <option>TURKISH</option>
                    </select>
                </div>
                <div class="field">
                    <label th:text="#{transliteratedStrings.script} + ':'"></label>
                    <select name="script">
                        <option>LATIN</option>
                        <option>ARABIC</option>
                        <option>CHINESE</option>
                        <option>CYRILLIC</option>
                        <option>GREEK</option>
                        <option>HEBREW</option>
                        <option>JAPANESE</option>
                        <option>KOREAN</option>
                    </select>
                </div>
            </div>
        </div>

        <button class="ui button" type="submit" th:text="#{common.save}"></button>
    </form>

</div>

<div th:replace="footer :: copy"></div>


</body>
</html>
