<!DOCTYPE html>

<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="header :: header" th:with="title=''"></head>

<body>

<nav th:replace="navigation :: navigation(URL_TRANSLITERATEDSTRINGS)"></nav>


<div class="ui segment">

    <div th:if="${backUrl!=''}">
        <a th:href="${backUrl + '?titleId=' + transliteratedStringId}" th:text="${'continue'}"></a>
    </div>

    <div th:if="${backUrl==''}">
        <a th:href="@{/transliteratedStrings/} + ${transliteratedStringId}" th:text="#{transliteratedStrings.showTransliteratedString}"></a>
    </div>
</div>


</body>
</html>
