<!DOCTYPE html>

<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head th:include="header :: header" th:with="title='TransliteratedStrings - create'"></head>


<body>

<nav th:replace="navigation :: navigation(URL_TRANSLITERATEDSTRINGS)"></nav>

<div th:replace="loginfirst :: copy"></div>

<div class="ui segment" sec:authorize="isAuthenticated()">

    <form class="ui form" method="POST" th:attr="action=@{/transliteratedStrings/create/}">

        <h2 class="ui dividing header" th:text="#{transliteratedStrings.createNewTransliteratedString}"></h2>


        <div class="ui form">
            <div class="fields">
                <div class="field" th:classappend="${result?.fieldHasError('text')} ? 'error' : ''">
                    <label>Text:</label>
                    <input type="text" name="text" th:value="${text}"/>
                </div>
                <div class="field" th:classappend="${result!=null and result.fieldHasError('language')} ? 'error' : ''">
                    <label th:text="#{transliteratedStrings.language} + ':'"></label>
                    <select name="language" th:value="${language}">
                        <option th:each="l: ${availableLanguages}" th:value="${l}" th:text="${l}" th:selected="${language == l}"></option>
                    </select>
                </div>
                <div class="field">
                    <label th:text="#{transliteratedStrings.script} + ':'"></label>
                    <select name="script" th:value="${script}">
                        <option th:each="s: ${availableScripts}" th:value="${s}" th:text="${s}" th:selected="${script == s}"></option>
                    </select>
                </div>
            </div>
        </div>

        <button class="ui button" type="submit" th:text="#{common.save}"></button>
    </form>

<br/>

    <div class="ui segments" th:if="${result}">
        <div class="ui segment">
            <p class="ui red label">Errors</p>
        </div>
        <div class="ui segments">
            <div class="ui segment" th:each="error: ${result.errors}">
                <p th:text="${error.messageName + ' (' + error.context.field + ')'}"></p>
            </div>
        </div>

    </div>

    <!--
    <div th:if="${result}">
        <strong class="ui red label">Errors</strong>
        <ul style="color:red;">
            <li th:each="error: ${result.errors}" th:text="${error.messageName + ' (' + error.context.field + ')'}"></li>
        </ul>

    </div>
    -->
</div>

<div th:replace="footer :: copy"></div>


</body>
</html>
