<!DOCTYPE html>

<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="header :: header" th:with="title='Add title'"></head>


<body>

<nav th:replace="navigation :: navigation(URL_GAMINGENVIRONMENTS)"></nav>

<div>

    <form class="ui form" method="POST" th:attr="action=${'/gamingEnvironments/' + gamingEnvironmentId + '/addTitle'}">
        <h4 class="ui dividing header">Add Title</h4>

        <div class="inline field">
            <label>Title:</label>
            <input name="title" type="text"/>
        </div>
        <div class="inline field">
            <label>Region</label>
            <select name="regionId">
                <option value="NORTH_AMERICA">North America</option>
                <option value="GERMANY">Germany</option>
            </select>
        </div>
        <div class="inline field">
            <label>Language</label>
            <select name="language">
                <option>ENGLISH</option>
                <option>GERMAN</option>
            </select>
        </div>
        <div class="inline field">
            <label>Script</label>
            <select name="script">
                <option>LATIN</option>
            </select>
        </div>
        <button class="ui button" type="submit">add title</button>
    </form>

</div>

<div th:replace="footer :: copy"></div>


</body>
</html>
