<!DOCTYPE html>

<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="header :: header" th:with="title='Add title'"></head>


<body>

<nav th:replace="navigation :: navigation(URL_GAMINGENVIRONMENTS)"></nav>

<div class="ui segment">

    <div id="step1" th:if="${titleId==''}">
        <h4>step1</h4>
        <form class="ui form" method="GET" th:attr="action=${'/transliteratedStrings/search'}">
            <div class="inline field">
                <label>Search:</label>
                <input name="searchTitle" type="text"/>
                <span th:text="${titleId}"/>
            </div>
            <button class="ui button" type="submit">find title</button>
            <input type="hidden" name="backUrl" th:value="${'/gamingEnvironments/' + gamingEnvironmentId + '/addTitle'}"/>
        </form>
    </div>


    <div id="step2" th:if="${titleId!=''}">
        <h4>step2</h4>
        <form class="ui form" method="POST" th:attr="action=${'/gamingEnvironments/' + gamingEnvironmentId + '/addTitle'}">
            <h2 class="ui dividing header">Add Title</h2>
            <div class="inline field">
                <label>Title-ID:</label>
                <input name="titleId" type="text" th:value="${titleId}"/>
            </div>
            <div class="inline field">
                <label>Region</label>
                <select name="regionId">
                    <option value="NORTH_AMERICA">NORTH_AMERICA</option>
                    <option value="EUROPE">EUROPE</option>
                    <option value="UNITED_STATES">UNITED_STATES</option>
                    <option value="UNITED_KINGDOM">UNITED_KINGDOM</option>
                    <option value="FRANCE">FRANCE</option>
                    <option value="JAPAN">JAPAN</option>
                    <option value="CHINA">CHINA</option>
                </select>
            </div>
            <button class="ui button" type="submit">add title</button>
        </form>
    </div>

</div>

<div th:replace="footer :: copy"></div>


</body>
</html>
